<h1>User Records</h1>
<%= link_to 'New User', new_user_path %>
<hr/>

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong> Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
<hr>
<%= render 'meta_form' %>
<hr>
<h3>User Meta Records</h1>
<% @user.user_metas.each do |user_meta| %>
	<p>
	  <strong> <%= user_meta.meta_key %> : </strong> <%= user_meta.meta_value %>
	</p>
<% end %>